################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chrisnewark.github.io.sln
/chrisnewark.github.io.v12.suo
